#bold {
   font-weight: bold;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}

a:hover {
    color: #296f24;
    background-color: transparent;
}

a.menu:hover {
    color: #79b818;
    background-color: transparent;
}

body {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #79b818;
    margin: 0px;
    width: 100%;
    text-align: center;
}

div.banner {
    color: #000000;
    font-size: 14px;
    background-color: #FFFFFF;
    margin: 0px;
    width: 100%;
    text-align: center;
}

div.content {
    width:90%;
    position:relative;
    border-top: 0px;
    border-left:1px dotted #296f24;
    border-right:1px dotted #296f24;
    border-bottom:1px dotted #296f24;
    margin: 0px auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

div.error {
    border:1px solid #990000;
    background-color:#FF3355;
    color:#990000;
    padding:5px;
}

div.info {
    border:1px solid #009900;
    background-color:#296f24;
    color:#33FF33;
    padding:5px;
}

div.menu {
    border-right:1px solid #296f24;
    color: #FFFFFF;
    font-weight: bold;
    background-color:#296f24;
    font-size: 18px;
    margin: 0px auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

div.success {
    border:1px solid #009900;
    background-color:#33FF33;
    color:#009900;
    padding:5px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

hr {
    width: 100%;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

table.center {
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
}

table.field {
    background-color:#296f24;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    text-align: center;
}

td.field {
    border: 1px dashed #FFFFFF;
    padding: 4px;
}

th {
    background-color:#296f24;
    text-align: center;
}

