<h1>Lose eingeben</h1>

{phpstatus}

<form action="enter_ticket.php" method="post" enctype="multipart/form-data">
<p id="bold">Losnummer(n) :
  <input type="text" name="ticket" value="" size="64"/>
</p>
<hr />
<table><tr>
  <td id="bold">Vorname :</td>
  <td><input type="text" name="prename" value="" size = "64"/></td>
</tr><tr>
  <td id="bold">Nachname :</td>
  <td><input type="text" name="surname" value="" size = "64"/></td>
</tr><tr>
  <td id="bold">Ort :</td>
  <td><input type="text" name="location" value="" size = "64"/></td>
</tr></table>
<hr />
<p><input type="submit" name="submit" value="Eintragen" /></p>
</form>
<hr />
<p id="bold">Hinweise zur Loseingabe:</p>
<p>
  (a) Mehrere Losnummern k&ouml;nnen durch Kommata getrennt werden.
      Beispiel: "1, 21, 321, 4321" <br />
  (b) Eine Folge von Losnummern kann per Bindestrich eingegeben werden.
      Beispiel: "1-4" statt "1, 2, 3, 4" <br />
  (c) Die Eingabemethoden (a) und (b) k&ouml;nnen kombiniert werden.
      Beispiel: "1-5, 7, 9-13, 15"
</p>
