<h1>Lose importieren (CSV-Import)</h1>

{phpstatus}

<form action="import_tickets.php" method="post" enctype="multipart/form-data">
<table><tr>
  <td id="bold">Dateiname :</td>
  <td>
    <select name="filename">
    {phpcsvfiles}
    </select>
  </td>
</tr><tr>
  <td id="bold">Trennzeichen :</td>
  <td>
    <input type="text" name="delimiter" value=";" size = "1" maxlength="1"/>
  </td>
</tr><tr>
  <td id="bold">Anf&uuml;hrungszeichen (optional) :</td>
  <td>
    <input type="text" name="enclosure" value='"' size = "1" maxlength="1"/>
  </td>
</tr><tr>
  <td id="bold">Encoding :</td>
  <td>
    <select name="encoding">
        <option>UTF-8</option>
        <option>ISO-8859-1</option>
        <option>ISO-8859-15</option>
        <option>cp1252</option>
    </select>
  </td>
</tr></table>
<hr />
<p><input type="submit" name="submit" value="Importieren" /></p>
</form>
<hr />
<p id="bold">Hinweise zum Losimport:</p>
<p>
  (a) Der Import setzt eine CSV-Datei voraus, die im "data"-Verzeichnis 
      abgelegt ist und im Dateinamen die Endung ".csv" aufweist<br />
  (b) Die einzelnen Spalten werden durch ein Trennzeichen separiert (bspw. ";")
      <br />
  (c) Jede Zeile muss 4 Spalten aufweisen (die nicht leer sind)<br />
  (d) Stimmt das Encoding der importierten CSV nicht mit dem angegebenen
      Encoding &uuml;berein, kann das zu Problemen mit deutschen Sonderzeichen
      f&uuml;hren (bspw. &szlig;, &Ouml;, &auml; ...)
</p>
