<h1>Spielrunde verwalten</h1>

<hr />

<h3>Spielverwaltung</h3>
<input type="button" id="configuredroundbutton" name="configuredroundbutton" 
    value="Runde festlegen" onclick="onconfiguredroundchange()"/>
<input id="configuredround" size="1" value="">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" id="initializeroundbutton" name="initializeroundbutton"
    value="Initialisieren" onclick="oninitializeround()"/>
<br /><br />
<input type="button" id="startbutton" name="startbutton" value="Start" onclick="onstart()"/>
<input type="button" id="pausebutton" name="pausebutton" value="Pause" onclick="onpauseround()"/>
<input type="button" id="endbutton" name="endbutton" value="Stop" onclick="onend()"/>
<input type="button" id="continuebutton" name="continuebutton" value="Fortsetzen" onclick="oncontinue()"/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" id="backbutton" name="backbutton" value="Rundenende 1s z&uuml;cksetzen" onclick="onturnbacktime()"/>
<input type="button" id="resetbutton" name="resetbutton" value="Reset" onclick="onresetround()"/>

<hr /> 
<div id="fieldtable"></div>
<hr /> 

<h3>Spielersuche verwalten</h3>
<form id="playersearch">
<table>
	<tr>
    <td>Runde:</td>
    <td><input name="round" type="text" size="30">  </td>
</tr><tr>
    <td>Vorname:</td>
    <td><input name="prename" type="text" size="30"></td>
</tr><tr>
    <td>Zuname:</td>
    <td><input name="surname" type="text" size="30"></td>
</tr><tr>
    <td>Ort:</td>
    <td><input name="location" type="text" size="30"></td>
</tr><tr>
    <td>Losnummer:</td>
    <td><input name="ticketid" type="text" size="30"></td>
</tr><tr>
    <td><input type="button" id="sendbutton" name="sendbutton"
        value="Suchparameter setzen" onclick="onplayersearch()"/></td>
</tr>
</table>
</form>


<hr />

<h3>Zeltansicht setzen</h3> 
<input type="button" id="gotosearchbutton" name="gotosearchbutton"
       value="Spielersuche" onclick="ongotosearch()"/>
<input type="button" id="gotomainbutton" name="gotomainbutton"
       value="Spielansicht" onclick="ongotomain()"/>
<input type="button" id="gotoidlebutton" name="gotoidlebutton"
       value="Pausenansicht" onclick="ongotoidle()"/>
<input type="button" id="gotowinnersbutton" name="gotowinnersbutton"
       value="Siegeransicht" onclick="ongotowinners()"/>
<hr />

Ansicht in separatem Fenster &ouml;ffnen:
<a href="list_allplayers.php" target="_blank">Spielerliste</a>
 | <a href="kfrmain.html" target="_blank">Zeltansicht</a>

